html{
    scroll-behavior: smooth;
}

body{
  font-family: 'Raleway', sans-serif; /* Test for this*/
  margin: 0;
  padding: 0;
  font-size: 18px; /* test for this! Make all sizes em or rem */
}

h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
}
h2{
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}
nav ul{
  list-style-type: none;
  background-color: navy;
}
nav li{
  display: inline;
  padding-right: 20px;
  text-decoration: none;
  /*Your code here */
}

nav a{
  color: white;
  font-weight: bold;
  text-decoration: none;/*Your code here - remove the underline*/
}

nav a:hover{
  text-decoration: underline;/*Your code here - add the underline*/
}
.skipcont a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skipcont a:focus{
  top:0;
}
*:focus{
  border: 2px solid blue;
}
.container{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  /*Provided*/
  grid-template-rows: 30px auto auto auto auto auto 100px;
  width: 100vw;
  grid-row-gap: 15px;
}
.nav{
   /*Your code here */
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:1;
  grid-row-end: 2;
  text-align: left;
  column-span: all;
  /*Provided*/
  background-color: #ddd;
  padding: 20px 0;
}
header{
  background-attachment: fixed; /* Parallax effect */
  background-image: url(../images/mich.jpg);      /* Your code here - Link to header.jpg in the images folder */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 400px;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row: 1/ span 1;
  width: 100vw;
  text-align: center;
}



footer{
  background-color: black;
  color: white;
  grid-column: 1 / -1;
  grid-row: 3 / auto;
  padding: 30px;
  text-align: center;
}
